-
  label: Restfox (Open VSCode)
  command: code --remote wsl+Ubuntu /home/user/repos/Journals
-
  label: Quick Note (Open VSCode)
  command: code --remote wsl+Ubuntu /home/user/repos/quick-note
-
  label: shortcommand (Open VSCode)
  command: code --remote wsl+Ubuntu /home/user/repos/shortcommand
-
  label: Useful Folder
  open: D:\Path to \Useful Folder
-
  label: Useful File
  open: D:\Path to \Useful File.txt
